<div class="hero">
  <h2>kosmos<span class="service">.social</span></h2>
  <p class="byline">
    Decentralized social media, used by millions of people
  </p>
</div>

<!--
<p class="illustration">
  <img src="/img/undraw_connected_world_wuay.svg" alt="">
</p>
-->

<h3>How it works</h3>

<section class="explainer">
  <div>
    <p class="illustration">
      <img src="/img/undraw_connected_world_wuay.svg" alt="">
    </p>
    <p>
      Instead of a single large website, like e.g. Twitter or Facebook, the
      <strong>Fediverse</strong> is a social media platform that connects many
      different sites around the world.
    </p>
  </div>
  <div>
    <p class="illustration">
      <img src="/img/undraw_connection_b38q.svg" alt="">
    </p>
    <p>
      Every site is both its own community, as well as part of the global
      community of all sites in the federation. You can <strong>connect to
      people on any participating site</strong>, and others can connect to
      you in the same way.
    </p>
  </div>
  <div>
    <p class="illustration">
      <img src="/img/undraw_team_chat_y27k-blue.svg" alt="">
    </p>
    <p>
      You can post public or direct messages, consisting of <strong>text,
      pictures, videos, and audio files</strong>. Use and browse hashtags to
      join conversations about current topics, or pin them to your dashboard to
      keep following.
    </p>
  </div>
  <div>
    <p class="illustration">
      <img src="/img/undraw_collab_8oes-blue.svg" alt="">
    </p>
    <p>
      <strong>Curating your timeline and connections is easy</strong> and
      flexible. Set up filters for words or topics you're not interested in, or
      for languages that you speak or want to learn. It's also easy to mute or
      block users, or even entire sites, that you do not wish to interact with.
    </p>
  </div>
</section>


<p class="actions">
  {{#link-to "mastodon.signup" class="button"}}Sign up{{/link-to}}
</p>