<div class="hero">
  <h2>kosmos<span class="service">.social</span></h2>
  <p class="byline">Join over 2,000,000 people on the fediverse today!</p>
</div>
<p class="actions">
  {{#link-to "mastodon.signup" class="button"}}Sign up{{/link-to}}
</p>