<div class="hero">
  <h2>Welcome to the Open Web</h2>
</div>

<p>
  Tired of being dependent on the whims of corporations for your online
  communication? Think service providers should <strong>serve their users</strong>,
  instead of manipulating your attention to optimize for ad revenue? We think
  so, too.
</p>

<h3>Our user-first approach</h3>

<section class="explainer">
  <div>
    <p class="illustration">
      <img src="/img/undraw_btc_p2p_lth5.svg" alt="">
    </p>
    <p>
      Kosmos accounts allow you to use our <strong>hosted services</strong>
      in exchange for (pay-what-you-want) donations. This way, we can maintain
      a stable and sustainable environment for both our users and volunteer
      contributors.
    </p>
  </div>
  <div>
    <p class="illustration">
      <img src="/img/undraw_code_typing_7jnv.svg" alt="">
    </p>
    <p>
      All services are based on <strong>open-source software</strong>, so our
      users can participate in changing and improving them. The services are
      also operated by our contributing community members.
    </p>
  </div>
  <div>
    <p class="illustration">
      <img src="/img/undraw_bitcoin2_ave7.svg" alt="">
    </p>
    <p>
      We only use <strong>open-source money</strong> for donations and
      contributor rewards. This guarantees that 100% of your donation reaches
      the co-operative members who served you. No matter how small the amount,
      and no matter where in the world you or the contributor currently reside.
    </p>
  </div>
</section>