<div class="hero">
  <h2>Welcome</h2>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipiscing elit porta, consequat mus nullam feugiat eu cum fermentum, neque accumsan ultrices laoreet aliquet mollis habitasse. Nec ac venenatis montes magna fusce porta tempor in proin aptent, quis condimentum tristique accumsan dictumst nulla maecenas massa eu, nam primis ut donec sagittis aliquam cubilia molestie curabitur. Blandit eleifend dictum curae ultricies vitae netus eget diam, phasellus enim dignissim porta senectus vehicula purus gravida morbi, molestie tempus taciti venenatis auctor laoreet suspendisse.</p>