<div class="hero">
  <h2>Welcome to the Open Web</h2>
</div>

<p>
  Tired of being dependent on the whims of corporations for your online
  communication? Think service providers should <strong>serve their users</strong>,
  instead of manipulating your attention to optimize for ad revenue? We think
  so, too.
</p>

<h3>Our user-first approach</h3>

<section class="explainer">
  <div>
    <p class="illustration">
      <img src="/img/undraw_btc_p2p_lth5.svg" alt="">
    </p>
    <p>
      Kosmos accounts allow you to use our <strong>hosted services</strong>
      in exchange for (pay-what-you-want) donations. This way, we intend to
      maintain a stable and sustainable environment for both our users and
      volunteer contributors.
    </p>
  </div>
  <div>
    <p class="illustration">
      <img src="/img/undraw_code_typing_7jnv.svg" alt="">
    </p>
    <p>
      All services are based on <strong>open-source software</strong>, so our
      users can participate in changing and improving them. And the services are
      also operated by our contributing community members.
    </p>
  </div>
</section>